src/package.xml
copado__*
AES_SFConnector__*
AES_CNTR__*
BRNSHRK__*
BRNSHRKREPORT__*
TH1__*
dsfs__*
skuid__*
spanning__*
reports/unfiled$public/*
dashboards/unfiled$public/*
settings/*
connectedApps/*
callCenters/*
certs/*
dashboards/*
EmbeddedService*
installedPackages/*
managedTopics/*
networks/*
reports/*
reportTypes/*
samlssoconfigs/*
staticresources/*
translations/*
 
 
